<nav class="navbar navbar-expand-lg navbar-dark fixed-top" [hidden]="!en_active">
  <div class="container">
    <a class="navbar-brand" style="font-size: 2em">Moroccans in AI Research </a>
    <div class="nav-items" style="width: 60%">
      <div class="nav-item">
        <span>      
          <a class="nav-link" href="https://github.com/mohamedELBAHA/moroccans-in-ai"> <i class="fa-brands fa-github"></i></a>
        </span>
      </div>
      <div class="nav-item">
        <span>
          <a class="nav-link" href="https://bkhmsi.medium.com/egyptians-in-ai-research-1ff64c78cc5b"> <i class="fa-brands fa-discord"></i></a>
        </span>
      </div>
    </div>
  </div>
</nav>


<div class="container" style="margin-bottom: 2em;margin-top: 2em;">

  <app-english [hidden]="!en_active"></app-english>
  <app-arabic [hidden]="en_active"></app-arabic>

  <footer class="footer mt-auto py-3">
    
    <div class="container">
      <span> Maintained with ❤️ by <a href="https://www.linkedin.com/company/mair-ai/?viewAsMember=true"> MAIR </a> </span>
      <span style="float: right"><a href="#"> Back to Top <i class="fas fa-arrow-up"></i>
        </a> </span>
      </div>
    

  </footer>

</div>